@charset "UTF-8";
/* CSS Document */

* {
	margin: auto;
	padding: 0;
	box-sizing: border-box;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    font-size: 14pt;
	text-align: center;
	display: block;
}

title{
	display: none;
}

#main {
    padding: 70px 0;
}

#appr
{
    height: 100vh;
    width: 100%;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.overlay p {
	padding-bottom: 25px;
}

.overlay .overlayContent{
    position: absolute;
	width: 60%;
	height: 40%;
	bottom: 30%;
    left: 20%;
}

.full {
	position: fixed;
    display: none;
    width: 100%;
    height: 100%;
}

.overlay .choice {
	display: inline-block;
	padding: 10px;
	width: 20%;
}

#startDemo {
	display: block;
}

p {
	font: 40px;
}

input {
	border: none;
	background-color: rgba(0,0,0,0);
}

#controls {
	position: fixed;
    background-color: rgba(0,0,0,0);
}

#controller {
	color: rgba(0,0,0,0);
}

#videobox {
	height: 100%;
	width: 100%;
}